<!--Seite bekommt Model übergeben-->
<!--th=thymeleaf, damit wird die Variable today aus dem Model in die Seite eingebunden-->
<!-- today war im Model-->
<!-- Kann Sachen ersetzen-->
<!-- schickt fertig geänderte Seite zurück an Browser-->
<!-- MVC -Model View Controller (Konzept was dahinter ist) -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hallo</h1>
    Datum: <span th:text="${today}"></span>
    <div>
        <a href="/patient/list">patient list</a>
    </div>
</div>
</body>
</html>